.RoomTable {
  box-shadow: 0 6px 24px rgba(60, 60, 60, 0.18);
  display: inline-block;
  text-align: left;
  margin-top: 4%;
  background-color: white;
}

.RoomTable table {
  border-collapse: collapse;
}

.RoomTable td, th {
  border: 3px solid rgb(244,244,244);
  padding: 5px;
  transition: 0.5s;
}

.RoomTable td:hover {
  background-color: rgba(0,255,255,0.2);
  transition: 0.5s;
}
