.SharePanel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 100%;
  height: 50%;
}

.SharePanel-buttons .yourstructs {
  //width: 200px;
  width: 100%;
  //font-size: 0.7em;
}

.SharePanel-buttons .yourstructs button {
  //font-size: 0.7em;
  height: auto;
}

.SharePanel-buttons button {
  cursor: pointer;
}

input.SharePanel-structname {
  font-size: 1.2rem;
}

.SharePanel-buttons td {
  padding: 10px 10px 10px 10px;
}

.SharePanel-buttons td:first-child {
  text-align: center;
}

#controlPanel-clear {
  //background-color: rgb(200,150,150);
  background-color: red;
  color: white;
}

#controlPanel-clear:hover {
  background-color: darkred;
}
