.PickBox {
  position: absolute;
  bottom:70vh;
  text-align: center;
  width: 100%;
  margin-top: -100px;
  visibility: hidden
}

.PickBox-box {
  padding: 15px;
  color: rgb(100,100,100);
  display: inline-block;
  text-align: center;
  background-color: rgb(255, 200, 200);
  box-shadow: 0 6px 24px rgba(60, 60, 60, 0.18);
  width: 40%;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 0.5s,
    opacity 0.5s linear;
}

.PickBox > .active {
  opacity: 0.8;
  transition:
    visibility 0.5s 0s,
    opacity 0.5s linear;
  visibility: visible;
}
