.position-box {
    right: 10% !important;
    top: 57% !important;
    width: 12% !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgb(79, 148, 205);
   
    /* height: 50px; */
    width: auto;
    height: 100px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.24);
}   

.position-box__text-container  {
    /* padding: 5px 10px; */
    font-weight: 900;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 75%;
    height: 50%;
    margin-top: 25%;
    margin-bottom: 25%; */
}

.position-box__coordinates {
    font-size: 3em;
}